@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
:root{
    --fundo-principal:#85682C;
    --texto:#0B0A09;
    --texto-inverso:#F2F2F2;
    --destaque:#32508E;
    --destaque-inverso:#D91818;
    --fundo-card: #3B3013;
    
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;


}
header{
 height: 180px;
  text-decoration: none;
  background-color: var(--fundo-card);
  color: var(--texto-inverso);
  padding: 10px;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  
 justify-content: center;
 align-items: center;
  
  
}
header > h1 {
 
  padding: 10px;
  font-size: 50px;
}
nav#menu ul{
  margin-top: 15px;
  display: flex;
  
  list-style: none;
  gap: 12px;
}
nav#menu a {
  background-color: var(--destaque-inverso);
  color: var(--fundo-card);
  padding: 10px;
  font-weight: 700;
  border: 12px 14px;
  border-radius: 6px;
}
nav#menu a:hover{
  background-color: var(--destaque);
  cursor: pointer;
}
main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  background-color: var(--destaque);
  gap: 20px;
  
  background-image: url();
}
section#contato{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  grid-column: 2;
  background-color: var(--fundo-card);
}
section#contato > img#foto{
  width: 230px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid var(--fundo-card);
  outline: 3px solid var(--fundo-principal);
  
}
section#contato > h2 {
  color: var(--destaque);
  margin-top: 15px;

}
div.social {
  display: flex;
    font-size: 1.3em;
    gap: 1;
    margin-top: 15px;
}
div.social > a {
  color: var(--destaque);
  transition: color 1s;
}
div.social > a:hover{
  color: var(--destaque-inverso);
  cursor: pointer;
}
section#conteudo{
  grid-column: 2;
}
article{
  background-color: var(--fundo-principal);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
article#cortes h2 {
  text-align: center;
  color: var(--destaque);
  font-weight: bold;
  font-size: 1.2em;
  
}
article#cortes > div.cortescontainer{
  display: flex;
}
article#cortes ul{
   list-style: none;
   align-self: center;
}
article#agende  div.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--fundo-card);
  height: 170px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;

}
article#agende div.marcar{
  background-color: var(--fundo-principal);
  border-radius: 2px ;
  margin: 5px 0px;
  height: 30px;
  width: 100%;
}
div.marcar i {
  font-size: 1.2em;
  padding: 3px;
  background-color: var();

}
div.marcar label {
  color: white;
}
div.marcar > input {
  height: 80%;
  background-color: var(--fundo-card);
  border-radius: 3px;
  border: 0px;
  width: 40%;

}
form > div > input[type=submit] {
  background-color: var(--fundo-principal);
  display: block;
  font-size: 1em;
  height: 30px;
  width: 100%;
  margin: 5px 0px;
  color: var(--texto-inverso);
  border: none;
}
form > div > input[type=submit]:hover{
  background-color: var(--destaque);
  cursor: pointer;
}
div.mapa{
  width: 450px;
}
div.mapa > iframe {
  width: 250px;
}

footer{
  display: block;
  height: 30px;
  background-color: var(--fundo-card);
  margin: auto;
}



@media screen and (min-width : 768px) {
  div.mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
  iframe {
    width: 90%;
    height: 90%;
  }
  
}